.btnCreation{
    background-color: rgba(0, 0, 0, 0.698);
    border-color: rgba(237, 121, 38, 0.254);
    margin-left: 3px;
    margin-right: 3px;
    margin: 3px;
    color: rgba(237, 121, 38, 0.822);
    font-size: large;
    font-family:sans-serif;
    font-style:unset;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
}
.btnBack{
    background-color: rgba(0, 0, 0, 0.698);
    border-color: rgba(237, 121, 38, 0.254);
    margin-left: 3px;
    margin-right: 3px;
    margin: 3px;
    color: rgba(237, 121, 38, 0.822);
    font-size: large;
    font-family:sans-serif;
    font-style:unset
}
.inputName{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.698);
    border-color: rgba(237, 121, 38, 0.254);
    margin-left: 3px;
    margin-right: 3px;
    margin: 3px;
    color: rgba(237, 121, 38, 0.822);
    font-size: large;
    font-family:sans-serif;
    font-style:unset
}
.inputDate {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.698);
    border-color: rgba(237, 121, 38, 0.254);
    margin-left: 3px;
    margin-right: 3px;
    margin: 3px;
    color: rgba(237, 121, 38, 0.822);
    font-size: large;
    font-family:sans-serif;
    font-style:unset
}
.inputRate{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.698);
    border-color: rgba(237, 121, 38, 0.254);
    margin-left: 3px;
    margin-right: 3px;
    margin: 3px;
    color: rgba(237, 121, 38, 0.822);
    font-size: large;
    font-family:sans-serif;
    font-style:unset
}
.inputImage{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.698);
    border-color: rgba(237, 121, 38, 0.254);
    margin-left: 3px;
    margin-right: 3px;
    margin: 3px;
    color: rgba(237, 121, 38, 0.822);
    font-size: large;
    font-family:sans-serif;
    font-style:unset
}
.textDesc{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.698);
    border-color: rgba(237, 121, 38, 0.254);
    margin-left: 3px;
    margin-right: 3px;
    margin: 3px;
    color: rgba(237, 121, 38, 0.822);
    font-size: large;
    font-family:sans-serif;
    font-style:unset
}
.selectGenre{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.698);
    border-color: rgba(237, 121, 38, 0.254);
    margin-left: 3px;
    margin-right: 3px;
    margin: 3px;
    color: rgba(237, 121, 38, 0.822);
    font-size: large;
    font-family:sans-serif;
    font-style:unset;
}
.selectPlat{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.698);
    border-color: rgba(237, 121, 38, 0.254);
    margin-left: 3px;
    margin-right: 3px;
    margin: 3px;
    color: rgba(237, 121, 38, 0.822);
    font-size: large;
    font-family:sans-serif;
    font-style:unset;
}
.selects{
   display: flex;
   flex-direction: row;
   justify-content: center;
   
    
}
.formu{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 13%;
    margin-right: 13%;
    color:rgba(237, 121, 38, 0.822);
    background-color: rgba(0, 0, 0, 0.698);
    padding: 3rem;
    border-radius: 3%;
    font-size: x-large;
    justify-content: center;
}
.losgenres{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0.2rem;
    color:rgba(237, 121, 38, 0.822);
    background-color: rgba(0, 0, 0, 0.018);
    padding: 0.5rem;
    border-radius: 3%;
    font-size:medium;
    justify-content: center;
}
.losplat{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0.2rem;
    color:rgba(237, 121, 38, 0.822);
    background-color: rgba(0, 0, 0, 0.018);
    padding: 0.5rem;
    border-radius: 3%;
    font-size:medium;
    justify-content: center;
}
.genreplat{
    display: flex;
    flex-direction: row;
}

h5{
    font-size: small;
    margin: 5px;
    text-transform: none;
    text-decoration: none;
}