video {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}
h1{
    margin: 0;
    padding-top: 3rem;
    padding-left: 2rem;
    color: rgb(237, 121, 38);
}
.btnGames{
    position: absolute;
    left:80%;
    right: 5%;
    top:68%;
    background-color: rgba(0, 0, 0, 0.698);
    border-color: rgb(243, 147, 78);
    color: rgba(246, 150, 82, 0.822);
    font-size: large;
    font-family:sans-serif;
    font-style:unset;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
}