video {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}
h1{
    margin: 0;
    padding-top: 3rem;
    padding-left: 2rem;
    color: rgb(237, 121, 38);
}
.btnGames{
    position: absolute;
    left: 90%;
    top:73%;
}